---
import Layout from "../layouts/Layout.astro";
import Pokemons from "../components/Pokemons.astro";
const data = await fetch(`https://pokeapi.co/api/v2/pokemon/?offset=0&limit=151`);
const datos = await data.json();
const pokemones = datos.results;
---

<Layout title="Hola">
  <h1>Lista de pokemos</h1>
  <main>
    {
      pokemones.map((pokemon) => {
        const url = pokemon.url
        return <Pokemons url={url} />;
      })
    }
  </main>
  <nav>
    <button >next</button>
    <button>previous</button>
  </nav>
</Layout>

<style>
  main{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }
</style>
